click
cloudpickle
cmdstanpy
colorama
comm
contourpy
cycler
db-dtypes
debugpy
decorator
dm-tree
etuples
exceptiongroup
executing
fastjsonschema
fastprogress
filelock
flatbuffers
fsspec
gast
gitdb
gitpython
google-api-core
google-auth
google-cloud-bigquery
google-cloud-core
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h5netcdf
h5py
holidays
huggingface_hub
idna
immutabledict
importlib-resources
ipykernel
ipython
ipython-autotime
ipython-genutils
jedi
jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
markdown
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
msgpack
msgpack-numpy
multipledispatch
munkres
namex
nest-asyncio
networkx
numexpr
numpy>
numpyro
opt-einsum
optree
packaging
pandas
parso
patsy
pexpect
pickleshare
pillow
pip
platformdirs
plotly
prompt-toolkit
prophet
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
pygments
pyparsing
pysocks
pyyaml
pyzmq
referencing
requests
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
setuptools
six
smmap
stack_data
stanio
statsmodels
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typing-extensions
typing_extensions
urllib3
wcwidth
werkzeug
wheel
wrapt
xarray
xarray-einstats
zipp
pymc_marketing @ git+https://github.com/nazarmaidanenko/pymc-marketing.git@78964f0708179da63080a7d5c0398433616f774c
