streamlit
pandas
numpy==2.0.0
scikit-learn
joblib
holidays
plotly
xarray
pymc
pyyaml
matplotlib
pymc_marketing @ git+https://github.com/nazarmaidanenko/pymc-marketing.git@78964f0708179da63080a7d5c0398433616f774c
